services:
  db:
    image: postgres:15
    container_name: anime_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: anime_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db

  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:1.7.3
    container_name: otaku_dbt
    volumes:
      - ../transform:/usr/app/dbt_project
      - ~/.dbt:/root/.dbt
    environment:
      - DB_HOST=db
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=5432
    profiles: [dbt]
    depends_on:
      - db

volumes:
  postgres_data: